<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.bfgroup.smarthomeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SmartHomeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHomeApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".home_list.presentation.HomeListActivity" />
        <activity android:name=".news_detailed.NewsDetailedActivity" />
        <activity android:name=".ksk_detailed.KskDetailActivity" />
        <activity android:name=".registration.StreetListActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".registration.RegistrationActivity" />
        <activity android:name=".my_requests.NewRequestActivity" />
        <activity android:name=".my_requests.MyRequestsActivity" />
        <activity android:name=".my_home.MyHomeActivity" />
        <activity android:name=".my_ksk.CandidatesActivity" />
        <activity android:name=".my_ksk.MyKskActivity" />
        <activity android:name=".news.presentation.NewsActivity" />
        <activity android:name=".ksk_list.presentation.KskListActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <meta-data-->
<!--            android:name="kz.bfgroup.smarthomeapp.data.UnsafeOkHttpGlideModule"-->
<!--            android:value="LibraryGlideModule" />-->

    </application>

</manifest>